# {*!
# * Operator SIMD (https://oprsimd.github.io)
# *
# * @link      https://github.com/oprsimd
# * @copyright Copyright (c) 2018 Zamrony P. Juhara
# * @license   https://github.com/oprsimd/blob/master/LICENSE (MIT)
# *}

*.ppu
*.o
*.s
